
kvkk_envanter/db.sqlite3
kvkk_envanter/kvkk_app/__pycache__/models.cpython-310.pyc
kvkk_envanter/kvkk_app/__pycache__/models.cpython-310.pyc
kvkk_envanter/kvkk_app/__pycache__/urls.cpython-310.pyc
kvkk_envanter/kvkk_app/__pycache__/views.cpython-310.pyc
