{% extends "kvkk_app/base.html" %}
{% block title %}
Kayıtlar
{% endblock title%}
{% block content%}
<!-- <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Departman İsmi</th>
      <th scope="col">Bilgi Girişi Yapan Kişi</th>
      <th scope="col">İş Süreci</th>
      <th scope="col">Veri İşleme Faaliyetinin Açıklaması</th>
      <th scope="col">Kişisel Verisi İşlenilen Kişi</th>
      <th scope="col">Kişisel Verinin Toplama Yöntemi</th>
      <th scope="col">İşlenen Veriler</th>
      <th scope="col">İşlenen Kişisel Veriler</th>
      <th scope="col">İşlenen Özel Nitelikli Veriler</th>
      <th scope="col">İşlenmesi Gerekli Olmayan Veriler</th>
      <th scope="col">Verilerin Yurt İçinde Paylaşıldığı Alıcı Grupları</th>
      <th scope="col">Yurt İçindeki Alıcı Grupları ile Paylaşım Amaç(lar)ı Nedir?</th>
      <th scope="col">Verilerin Yurt Dışında Paylaşıldığı Alıcı Grupları</th>
      <th scope="col">Yurt Dışına Paylaşılan Veriler</th>
      <th scope="col">Verilerin Yurt Dışına Aktarıldığı Ülke</th>
      <th scope="col">Yurt Dışındaki  Alıcı Grupları ile Paylaşım Amaç(lar)ı Nedir?</th>
      <th scope="col">Süreç Kapsamında İşlenen Kişisel Verilerin Ne Kadar Süre ile Saklanması Gerekmektedir?</th>
      <th scope="col">Kayıtların Tutulduğu Alanlar - Veri Nerede Saklanıyor?</th>
      <th scope="col">Kişisel Verilere Erişebilen Kişiler</th>
      <th scope="col">Hukuksal Dayanak</th>
      <th scope="col">Kişisel Verileri Korumak için Alınan Teknik ve İdari Tedbirler Nelerdir?</th>
    </tr>
  </thead>
  <tbody>
    {% for i in emailler%}
    <tr>  
      <th scope="row">{{ i.id }}</th>
      <td>{{ i.departman_ismi }}</td>
      <td>{{ i.yetkili }}</td>
      <td>{{ i.is_sureci }}</td>
      <td>{{ i.veri_isleme_faaliyeti }}</td>
      <td>{{ i.kisisel_verisi_islenen_kisi }}</td>
      <td>{{ i.kisisel_verinin_toplanma_yontemi }}</td>
      <td>{{ i.islenen_tum_veriler }}</td>
      <td>{{ i.islenen_kisisel_veriler }}</td>
      <td>{{ i.islenen_ozel_nitelikli_veriler }}</td>
      <td>{{ i.gerekli_olmayan_veriler }}</td>
      <td>{{ i.alici_gruplari_ic }}</td>
      <td>{{ i.paylasim_amaci }}</td>
      <td>{{ i.alici_gruplari_dis }}</td>
      <td>{{ i.paylasilan_veriler }}</td>
      <td>{{ i.paylasilan_ulkeler }}</td>
      <td>{{ i.paylasim_amaci }}</td>
      <td>{{ i.departman_ismi }}</td>
      <td>{{ i.departman_ismi }}</td>
      <td>{{ i.departman_ismi }}</td>
      <td>{{ i.hukuksal_dayanak }}</td>
      <td>{{ i.tum_tedbirler }}</td>
    </tr>
    {% endfor %}
  </tbody> -->

<!-- {% for i in emailler%}
<div class="container">
  <div class="accordion" id="accordion1">
    <div class="card">
      <div class="card-header">
        <a href="#tablo" class="card-link" data-bs-toggle="collapse">{{ i.id }}. Kayıt</a>
      </div>
        <table class="table collapse" data-bs-parent="#accordion1" id="tablo">
          <thead class="table-dark">
            <tr>
              <th>Veriler</th>
              <th>Kayıtlar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Departman İsmi</td>
              <td>{{ i.departman_ismi }}</td>
            </tr>
            <tr>
              <td>Bilgi Girişi Yapan Kişi</td>
              <td>{{ i.yetkili }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div> -->



<div class="accordion-flush">
  <div class="accordion" id="myaccordion">
    <div class="accordion-item">
      <h3 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tablo{{ i.id }}">{{ i.id }}.
          Kayıt</button>
      </h3>
       <div class="accordion-collapse collapse" id="tablo{{i.id}}" data-bs-parent="#myaccordion">
        <div class="accordion-body">
          <table class="table">
            <thead class="table-dark">
              {% for i in emailler%}
              <tr>
                <th>Veriler</th>
                <th>Kayıtlar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Departman İsmi</td>
                <td>{{ i.departman_ismi }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Bilgi Girişi Yapan Kişi</td>
                <td>{{ i.yetkili }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>İş Süreci</td>
                <td>{{ i.is_sureci }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Veri İşleme Faaliyetinin Açıklaması</td>
                <td>{{ i.veri_isleme_faaliyeti }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Kişisel Verisi İşlenilen Kişi</td>
                <td>{{ i.kisisel_verisi_islenen_kisi }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Kişisel Verinin Toplama Yöntemi</td>
                <td>{{ i.kisisel_verinin_toplanma_yontemi }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>İşlenen Veriler</td>
                <td>{{ i.islenen_tum_veriler }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>İşlenen Kişisel Veriler</td>
                <td>{{ i.islenen_kisisel_veriler }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>İşlenen Özel Nitelikli Veriler</td>
                <td>{{ i.islenen_ozel_nitelikli_veriler }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>İşlenmesi Gerekli Olmayan Veriler</td>
                <td>{{ i.gerekli_olmayan_veriler }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Verilerin Yurt İçinde Paylaşıldığı Alıcı Grupları</td>
                <td>{{ i.alici_gruplari_ic }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Yurt İçindeki Alıcı Grupları ile Paylaşım Amaç(lar)ı Nedir?</td>
                <td>{{ i.paylasim_amaci }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Verilerin Yurt Dışında Paylaşıldığı Alıcı Grupları</td>
                <td>{{ i..alici_gruplari_dis }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Yurt Dışına Paylaşılan Veriler</td>
                <td>{{ i.paylasilan_veriler }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Verilerin Yurt Dışına Aktarıldığı Ülke</td>
                <td>{{ i.paylasilan_ulkeler }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Yurt Dışındaki Alıcı Grupları ile Paylaşım Amaç(lar)ı Nedir?</td>
                <td>{{ i.paylasim_amaci }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Süreç Kapsamında İşlenen Kişisel Verilerin Ne Kadar Süre ile Saklanması Gerekmektedir?</td>
                <td>{{ i.islenen_sure }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Kayıtların Tutulduğu Alanlar - Veri Nerede Saklanıyor?</td>
                <td>{{ i.saklanilan_yer }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Kişisel Verilere Erişebilen Kişiler</td>
                <td>{{ i.erisen_kisiler }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Hukuksal Dayanak</td>
                <td>{{ i.hukuksal_dayanak }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              <tr>
                <td>Kişisel Verileri Korumak için Alınan Teknik ve İdari Tedbirler Nelerdir?</td>
                <td>{{ i.tum_tedbirler }}<span> </span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="accordion" id="myaccordion">
  <div class="accordion-item">
    <h3 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#content1">1.kayıt</button>
    </h3>
    <div id="content1" class="accordion-collapse collapse" data-bs-parent="#myaccordion">
      <div class="accordion-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos tenetur repudiandae accusantium hic, ut
        nihil culpa soluta magni magnam similique accusamus ad dolores atque sint, quidem omnis, officia deserunt
        perspiciatis.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h3 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#content2">1.kayıt</button>
    </h3>
    <div id="content2" class="accordion-collapse collapse" data-bs-parent="#myaccordion">
      <div class="accordion-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos tenetur repudiandae accusantium hic, ut
        nihil culpa soluta magni magnam similique accusamus ad dolores atque sint, quidem omnis, officia deserunt
        perspiciatis.
      </div>
    </div>
  </div>
</div> -->
<!-- {% endfor %} -->
{% endblock content %}