{% extends "kvkk_app/base.html" %}
{% block title %}
Veri Giriş
{% endblock title%}
{% block content %}
<main>
    <section>
        <form method="POST">
            {% csrf_token %}

            <h3 class="m-3">Kişisel Veri İşleme Envanteri</h3>

            <div class="card m-3">
                <h3 class="m-3">Organizasyon</h3>
                <div class="card-body">
                    <div class="kapsa">
                        <h5 class="card-title">Departman İsmi</h5>
                        <div>
                            <a href="#" class="aciklama" id="{{ aciklamalar.kategori }}">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>
                    <!-- select -->
                    <select name="departman_ismi" id="siteID" class="abcd"
                        style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in listem %}
                        <option selected='true'> {{ i.isim }} </option>
                        {% endfor %}
                    </select>
                    <!-- select -->
                    <!-- multiple select -->

                    <!-- <select id='multiple' multiple style="width:100%">
                        <option value="" selected>Seçiniz</option>
                        {% for i in listem%}
                        <option value="United States">{{ i.isim }}</option>
                        {% endfor %}
                    </select> -->
                    <!-- multiple select -->
                    <hr>

                    <!-- Bilgi Girişi Yapan Kişi -->

                    <div class="kapsa">
                        <h5 class="card-title">Bilgi Girişi Yapan Kişi</h5>
                        <div>
                            <a href="#" class="aciklama">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>


                    <select name="yetkili" id="siteID" class="abcd" style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in yetkili %}
                        <option selected='true'> {{ i.yetkili }} </option>
                        {% endfor %}
                    </select>


                </div>
            </div>
            <div class="card m-3">
                <h3 class="m-3">Süreç</h3>
                <div class="card-body">
                    <div class="kapsa">
                        <h5 class="card-title">İş Süreci</h5>
                        <div>
                            <a href="#" class="aciklama" id="{{ aciklamalar.kategori }}">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <textarea name="is_sureci" id="is" rows="2" style="width:100%; font-size:25px !important;"></textarea>

                    <hr>

                    <div class="kapsa">
                        <h5 class="card-title">Veri İşleme Faaliyetinin Açıklaması</h5>
                        <div>
                            <a href="#" class="aciklama">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <textarea name="veri_isleme_faaliyeti" id="is" rows="2" style="width:100%; font-size:25px !important;"></textarea>

                    <hr>

                    <div class="kapsa">
                        <h5 class="card-title">Kişisel Verisi İşlenilen Kişi</h5>
                        <div>
                            <a href="#" class="aciklama">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <select name="kisisel_verisi_islenen_kisi" id="siteID" class="abcd" style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in kisiler %}
                        <option selected='true'> {{ i.kisiler }} </option>
                        {% endfor %}
                    </select>

                    <hr>

                    <div class="kapsa">
                        <h5 class="card-title">Kişisel Verinin Toplama Yöntemi</h5>
                        <div>
                            <a href="#" class="aciklama">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <select name="kisisel_verinin_toplanma_yontemi" id="siteID" class="abcd" style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in top_yontem %}
                        <option selected='true'> {{ i.yontemler }} </option>
                        {% endfor %}
                    </select>

                </div>
            </div>

            <div class="card m-3">
                <h3 class="m-3">İşlenen Veriler</h3>
                <div class="card-body">
                    <div class="kapsa">
                        <h5 class="card-title">İşlenen Veriler</h5>
                        <div>
                            <a href="#" class="aciklama" id="{{ aciklamalar.kategori }}">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <select name="islenen_tum_veriler" id="siteID" class="abcd" style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in tum_veriler %}
                        <option selected='true'> {{ i.kisisel_tum_veriler }} </option>
                        {% endfor %}
                    </select>

                    <hr>

                    <div class="kapsa">
                        <h5 class="card-title">İşlenen Kişisel Veriler</h5>
                        <div>
                            <a href="#" class="aciklama">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <select name="islenen_kisisel_veriler" id="siteID" class="abcd" style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in kisisel_veriler %}
                        <option selected='true'> {{ i.kisisel_veriler }} </option>
                        {% endfor %}
                    </select>

                    <hr>

                    <div class="kapsa">
                        <h5 class="card-title">İşlenen Özel Nitelikli Veriler</h5>
                        <div>
                            <a href="#" class="aciklama">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <select name="islenen_ozel_nitelikli_veriler" id="siteID" class="abcd" style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in ozel_veriler %}
                        <option selected='true'> {{ i.ozel_kisisel_veriler }} </option>
                        {% endfor %}
                    </select>

                    <hr>

                    <div class="kapsa">
                        <h5 class="card-title">İşlenmesi Gerekli Olmayan Veriler</h5>
                        <div>
                            <a href="#" class="aciklama">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <select name="gerekli_olmayan_veriler" id="siteID" class="abcd" style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in tum_veriler %}
                        <option selected='true'> {{ i.kisisel_tum_veriler }} </option>
                        {% endfor %}
                    </select>
                    
                </div>
            </div>

            <div class="card m-3">
                <h3 class="m-3">Kişisel Verilerin Yurt İçindeki 3. Kişilere Aktarımı</h3>
                <div class="card-body">
                    <div class="kapsa">
                        <h5 class="card-title">Verilerin Yurt İçinde Paylaşıldığı Alıcı Grupları</h5>
                        <div>
                            <a href="#" class="aciklama" id="{{ aciklamalar.kategori }}">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <select name="alici_gruplari_ic" id="siteID" class="abcd" style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in alicilar %}
                        <option selected='true'> {{ i.alicilar }} </option>
                        {% endfor %}
                    </select>

                    <hr>

                    <div class="kapsa">
                        <h5 class="card-title">Yurt İçindeki Alıcı Grupları ile Paylaşım Amaç(lar)ı Nedir?</h5>
                        <div>
                            <a href="#" class="aciklama">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <select name="paylasim_amaci" id="siteID" class="abcd" style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in amaclar %}
                        <option selected='true'> {{ i.amaclar }} </option>
                        {% endfor %}
                    </select>

                </div>
            </div>

            <div class="card m-3">
                <h3 class="m-3">Kişisel Verilerin Yurt Dışındaki 3. Kişilere Aktarımı</h3>
                <div class="card-body">
                    <div class="kapsa">
                        <h5 class="card-title">Verilerin Yurt Dışında Paylaşıldığı Alıcı Grupları</h5>
                        <div>
                            <a href="#" class="aciklama" id="{{ aciklamalar.kategori }}">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <select name="alici_gruplari_dis" id="siteID" class="abcd" style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in alicilar %}
                        <option selected='true'> {{ i.alicilar }} </option>
                        {% endfor %}
                    </select>

                    <hr>

                    <div class="kapsa">
                        <h5 class="card-title">Yurt Dışındaki Alıcı Grupları ile Paylaşım Amaç(lar)ı Nedir?</h5>
                        <div>
                            <a href="#" class="aciklama">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <select name="paylasim_amaci" id="siteID" class="abcd" style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in amaclar %}
                        <option selected='true'> {{ i.amaclar }} </option>
                        {% endfor %}
                    </select>

                    <hr>

                    <div class="kapsa">
                        <h5 class="card-title">Verilerin Yurt Dışında Paylaşıldığı Ülke</h5>
                        <div>
                            <a href="#" class="aciklama">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <textarea name="paylasilan_ulkeler" id="is" rows="2" style="width:100%; font-size:25px !important;"></textarea>

                    <hr>

                    <div class="kapsa">
                        <h5 class="card-title">Yurt Dışına Paylaşılan Veriler</h5>
                        <div>
                            <a href="#" class="aciklama">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <select name="paylasilan_veriler" id="siteID" class="abcd" style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in tum_veriler %}
                        <option selected='true'> {{ i.kisisel_tum_veriler }} </option>
                        {% endfor %}
                    </select>

                </div>
            </div> 

            <div class="card m-3">
                <h3 class="m-3">Saklama</h3>
                <div class="card-body">
                    <div class="kapsa">
                        <h5 class="card-title">Süreç Kapsamında İşlenen Kişisel Verilerin Ne Kadar Süre ile Saklanması Gerekmektedir?</h5>
                        <div>
                            <a href="#" class="aciklama" id="{{ aciklamalar.kategori }}">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <textarea name="islenen_sure" id="is" rows="2" style="width:100%; font-size:25px !important;"></textarea>

                    <hr>

                    <div class="kapsa">
                        <h5 class="card-title">Veri Nerede Saklanıyor?</h5>
                        <div>
                            <a href="#" class="aciklama">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <textarea name="saklanilan_yer" id="is" rows="2" style="width:100%; font-size:25px !important;"></textarea>

                    <hr>

                    <div class="kapsa">
                        <h5 class="card-title">Kişisel Verilere Erişebilen Kişiler</h5>
                        <div>
                            <a href="#" class="aciklama">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <textarea name="erisen_kisiler" id="is" rows="2" style="width:100%; font-size:25px !important;"></textarea>

                </div>
            </div>

            <div class="card m-3">
                <h3 class="m-3">Hukuksal Dayanak</h3>
                <div class="card-body">
                    <div class="kapsa">
                        <h5 class="card-title">Hukuksal Dayanak</h5>
                        <div>
                            <a href="#" class="aciklama" id="{{ aciklamalar.kategori }}">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <textarea name="hukuksal_dayanak" id="is" rows="2" style="width:100%; font-size:25px !important;"></textarea>
                </div>
            </div>

            <div class="card m-3">
                <h3 class="m-3">Güvenlik Tedbirleri</h3>
                <div class="card-body">
                    <div class="kapsa">
                        <h5 class="card-title">Kişisel Verileri Korumak için Alınan Teknik ve İdari Tedbirler Nelerdir?</h5>
                        <div>
                            <a href="#" class="aciklama" id="{{ aciklamalar.kategori }}">? Açıklamayı Gör </a><br>
                            <a class="yenioge" href="#">+ Yeni Öge Ekle</a>
                        </div>
                    </div>

                    <select name="tum_tedbirler" id="siteID" class="abcd" style="width:100%; font-size:25px !important;">
                        <option value="">Seçiniz</option>
                        {% for i in tedbirler %}
                        <option selected='true'> {{ i.tedbir }} </option>
                        {% endfor %}
                    </select>

                </div>
            </div>

            <button class="btn btn-primary m-3" type="submit">Kaydet</button>
        </form>



    </section>



</main>


{% endblock content %}