{% extends 'hesap/base.html' %}
{% block title %} Giriş Yap{% endblock title %}
{% block content %}
<div class="wrapper">
  <p>
    <center>
      <img src="http://www.kriptarium.com/uploads/4/1/0/0/41002523/published/267656.jpg?1628198633" />
    </center>
  </p>
  
  <form method="POST">
    {% if hata %}
    <div class="alert alert-danger">{{ hata }}</div>
    {% endif %} {% csrf_token %}
    <input type="text" placeholder="Kullanıcı Adı" name="username" />
    <input type="password" placeholder="Şifre" name="password" />

    <p class="recover">
      <a href="#">Şifre Kurtarma</a>
    </p>

    <button type="submit" name="submit">Giriş Yap</button>
  </form>
  <div class="not-member">
    Bir Hesabınız Yok Mu ?
    <a href="{% url 'kayitol' %}">Şimdi Kaydolun</a>
  </div>
</div>
{% endblock content %}