<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

</head>

<body class="m-3">
    <form method="POST">
        {% csrf_token %}
        <div class="bg-primary">
            <h3>Kişisel Veri İşleme Envanteri</h3>
        </div>

        <div class="card">
            <div class="card-header bg-warning">
                <h3>Organizasyon</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">Departman İsmi</h5>

                <div>


                    <select name="departman_ismi" style="width:100% !important; font-size:25px !important;">
                        <option value="seciniz">Departman İsmi</option>
                        {% for i in listem %}
                        <option id="bş"> {{ i.isim}}</option>
                        {% endfor %}
                        <option value="diger">Diğer</option>
                    </select>

                </div>

                <hr>

                <h5 class="card-title">Bilgi Girişi Yapan Kişi</h5>

                <div>


                    <select name="yetkili" style="width:100% !important; font-size:25px !important;">
                        <option value="seciniz">Bilgi Girişi Yapan Kişi</option>
                        {% for i in yetkili %}
                        <option>{{ i.yetkili }}</option>
                        {% endfor %}
                        <option value="diger">Diğer</option>
                    </select>

                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-header bg-warning">
                <h3>İşlenen Veriler</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">İşlenen Tüm Kişisel Veriler</h5>

                <div>
                    <select name="kisisel_tum_veriler" style="width:100% !important; font-size:25px !important;">
                        <option value="seciniz" selected>İşlenen Veriler</option>
                        {% for i in emailler %}
                        <option>{{ i.email }}</option>
                        {% endfor %}
                        <option value="diger">Diğer</option>
                    </select>
                </div>

                <hr>

                <h5 class="card-title">İşlenen Kişisel Veri Kategorisi</h5>

                <div>
                    <select name="kisisel_veriler" style="width:100% !important; font-size:25px !important;">
                        <option value="seciniz" selected>İşlenen Kişisel Veriler</option>
                        {% for i in kisisel_veriler %}
                        <option>{{ i.islenen_kisisel_veriler }}</option>
                        {% endfor %}
                        <option value="diger">Diğer</option>
                    </select>
                </div>

                <hr>

                <h5 class="card-title">İşlenen Özel Nitelikli Kişisel Veriler</h5>

                <div>
                    <select name="ozel_kisisel_veriler" style="width:100% !important; font-size:25px !important;">
                        <option value="seciniz" selected>İşlenen Veriler</option>
                        {% for i in ozel_veriler %}
                        <option>{{ i.islenen_ozel_nitelikli_veriler }}</option>
                        {% endfor %}
                        <option value="diger">Diğer</option>
                    </select>
                </div>

                <hr>

                <h5 class="card-title">İşlenme Amaçları</h5>

                <div>
                    <select name="amaclar" style="width:100% !important; font-size:25px !important;">
                        <option value="seciniz" selected>Amaçlar</option>
                        {% for i in amaclar %}
                        <option>{{ i.amac }}</option>
                        {% endfor %}
                        <option value="diger">Diğer</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-header bg-warning">
                <h3>Kişisel Verilerin Yurtiçindeki 3. Kişilere Aktarımı</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">Verilerin Yurt İçinde Paylaşıldığı Alıcı Grupları</h5>

                <div>
                    <select name="alicilar" style="width:100% !important; font-size:25px !important;">
                        <option value="seciniz" selected>Alıcı Grupları</option>
                        {% for i in alicilar %}
                        <option>{{ i.alici_gruplari_ic }}</option>
                        {% endfor %}
                        <option value="diger">Diğer</option>
                    </select>
                </div>

                <hr>

                <h5 class="card-title">Verilerin Paylaşım Amaçları</h5>

                <div>
                    <select name="amaclar" style="width:100% !important; font-size:25px !important;">
                        <option value="seciniz" selected>Amaçlar</option>
                        {% for i in amaclar %}
                        <option>{{ i.paylasim_amaci }}</option>
                        {% endfor %}
                        <option value="diger">Diğer</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header bg-warning">
                <h3>Kişisel Verilerin Yurtdışındaki 3. Kişilere Aktarımı</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">Verilerin Yurtdışında Paylaşıldığı Alıcı Grupları</h5>

                <div>
                    <select name="alicilar" style="width:100% !important; font-size:25px !important;">
                        <option value="seciniz" selected>Alıcılar</option>
                        {% for i in alicilar %}
                        <option>{{ i.alici_gruplari_dis }}</option>
                        {% endfor %}
                        <option value="diger">Diğer</option>
                    </select>
                </div>

                <hr>

                <h5 class="card-title">Yurt Dışına Paylaşılan Veriler</h5>

                <div>
                    <select name="kisisel_veriler" style="width:100% !important; font-size:25px !important;">
                        <option value="seciniz" selected>Paylaşılan Veriler</option>
                        {% for i in kisisel_veriler %}
                        <option>{{ i.paylasilan_veriler }}</option>
                        {% endfor %}
                        <option value="diger">Diğer</option>
                    </select>
                </div>

                <hr>

                <h5 class="card-title">Verilerin Yurtdışına Aktarıldığı Ülke</h5>

                <div>
                    <select name="ozel_kisisel_veriler" style="width:100% !important; font-size:25px !important;">
                        <option value="seciniz" selected>Ülkeler</option>
                        {% for i in ozel_veriler %}
                        <option>{{ i.ozel_kisisel_veriler }}</option>
                        {% endfor %}
                        <option value="diger">Diğer</option>
                    </select>
                </div>

                <hr>

                <h5 class="card-title">Verilerin Paylaşım Amaçları</h5>

                <div>
                    <select name="amaclar" style="width:100% !important; font-size:25px !important;">
                        <option value="seciniz" selected>Amaçlar</option>
                        {% for i in amaclar %}
                        <option>{{ i.paylasim_amaclari }}</option>
                        {% endfor %}
                        <option value="diger">Diğer</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header bg-warning">
                <h3>Kişisel Verileri Korumak için Alınan Teknik ve İdari Tedbirler</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">Alınan Tedbirler</h5>

                <div>
                    <select name="tedbir" multiple style="width:100% !important; font-size:25px !important;">
                        <option value="seciniz" selected>Tedbirler</option>
                        {% for i in tedbirler %}
                        <option>{{ i.tum_tedbirler }}</option>
                        {% endfor %}
                        <option value="diger">Diğer</option>
                    </select>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-warning">
                    <h3>Kişisel Verilerin Toplanma Yöntemleri</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Yöntemler</h5>

                    <div>
                        <select name="yontemler" style="width:100% !important; font-size:25px !important;">
                            <option value="seciniz" selected>yöntemler</option>
                            {% for i in top_yontem %}
                            <option>{{ i.kisisel_verilerin_toplanma_yontemi }}</option>
                            {% endfor %}
                            <option value="diger">Diğer</option>
                        </select>
                    </div>

                    <hr>

                    <textarea placeholder="İş Süreci" rows="3" id="is_surec" name="is_sureci"
                        style="width:100% !important; font-size:25px !important;"></textarea>

                    <hr>

                    <textarea placeholder="Veri İşleme Sürecinin Açıklanması" rows="3" id="surec_aciklama"
                        name="veri_isleme_faaliyeti"
                        style="width:100% !important; font-size:25px !important;"></textarea>

                    <hr>

                    <textarea placeholder="Kişisel Verisi İşlenilen Kişi" rows="2" id="ilgili_kisi"
                        name="kisisel_verisi_islenen_kisi"
                        style="width:100% !important; font-size:25px !important;"></textarea>

                    <hr>

                    <button class="btn btn-primary" type="submit">Kaydet</button>

                    <a href="/kayit" class="btn btn-success">Kayıtlar</a>


    </form>
</body>

</html>